{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Teacher Profile | SchoolMS{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body class="bg-gray-100 font-sans">
    <div class="min-h-screen flex flex-col">
      <!-- Topbar -->
       <header class="bg-indigo-800 text-white">
      <div class="container mx-auto flex justify-between items-center p-4">
        <a href="{% url 'teacher_dashboard' %}">
          <h1 class="text-2xl font-bold">
            School<span class="text-amber-500">MS</span>
          </h1>
        </a>
        <nav class="space-x-4">
          <a href="{% url 'teacher_dashboard' %}" class="hover:text-amber-400">Dashboard</a>
          <a href="{% url 'teacher_classes' %}" class="hover:text-amber-400">My Classes</a>
          {% comment %} <a href="{% url 'teacher_attendance' %}" class="hover:text-amber-400">Attendance</a> {% endcomment %}
          <a href="{% url 'teacher_timetable' %}" class="hover:text-amber-400">Timetable</a>
          <a href="{% url 'login' %}" class="hover:text-amber-400">Logout</a>
        </nav>
      </header>
      <!-- Main Content -->
      <main class="flex-1 p-6">
        {% block content %}{% endblock %}
      </main>
    </div>
    <script>feather.replace();</script>
  </body>
</html>
